.logo-container {
    z-index: 0;
    width: 450px;
    height: 609px;
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 40%;
    left: auto;
    margin: auto;
    opacity: 0;

    svg {
        width: 100%;
        height: auto;
        bottom: 0;
        transform: rotateZ(25deg) !important;
    }

    .solid-logo {
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        margin: auto;
        width: 100%;
        opacity: 0;
        transform: rotateZ(25deg);
        z-index: 1;
    }
}

.svg-container{
    stroke: #5865F2;
    stroke-width: 3px;
}